@using TechnicoBackEnd.Auth
@using TechnicoBackEnd.DTOs;
@{
    ViewData["Title"] = "Admin Home Page";
}
@model List<RepairDTO>
<h1>Welcome Admin @LoginState.activeUser?.Name </h1>
<br>

<div class="row">
    <div class="col">
        <div class="container">
            <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="OwnersAndProperties">Owners And Properties</a>
        </div>
    </div>
    <div class="col">
        <div class="container">
            <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="">Repairs</a> @*implement*@
        </div>
    </div>
</div>
<br />

<div class="row">
@foreach(var repair in Model)
{
    <div class="col m-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@repair.RType.ToString()</h5>
                <p class="card-text">@repair.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@repair.PropertyIdNum</li>
                <li class="list-group-item">@repair.Cost</li>
                <li class="list-group-item">@repair.ScheduledDate</li>
            </ul>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                            <div class="container m-1">
                                <a class="btn btn-primary" asp-area="" asp-controller="Repairs" asp-action="">Update Repair</a> @*implement*@
                            </div>
                    </div>
                    <div class="col">
                            <div class="container m-1">
                                <a class="btn btn-primary" asp-area="" asp-controller="Repairs" asp-action="">Delete Repair</a> @*implement*@
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
