@using TechnicoBackEnd.Auth
@using TechnicoBackEnd.DTOs;
@{
    ViewData["Title"] = "Edit Owner Page";
}
@model UserWithRequiredFieldsDTO
<h1>WELCOME ADMIN @LoginState.activeUser?.Name </h1>
<br>

<h2>Edit Owner</h2>
<div class="login-form">
    <form asp-controller="Admin" asp-action="UpdateOwner" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="@Model.Email" required>
        <br>
        <label for="vat">VAT:</label>
        <input type="text" id="vat" name="vat" value="@Model.VAT" required>
        <br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="@Model.Name" required>
        <br>

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" value="@Model.Surname" required>
        <br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="@Model.Address" required>
        <br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" value="@Model.Phone" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="@Model.Password" required>
        <br>

        <button type="submit">Register</button>
    </form>
    <!-- Error message display, if needed -->
    <div class="error-message">
        <!-- Example: Invalid login credentials -->
    </div>
</div>

<div class="container">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">[Logout]</a>
</div>