@using TechnicoBackEnd.Models;
@using TechnicoBackEnd.Responses;
@using TechnicoBackEnd.DTOs;
@model IEnumerable<TechnicoBackEnd.DTOs.RepairAdminCreateUpdateDTO>;

@{
    ViewData["Title"] = "Repairs";
}

<h1 class="d-flex align-items-center">
    <img src="~/images/tools.png" alt="Repair Icon" class="header-icon mr-2" />
    Repairs
</h1>
<br />
<br />
<br />
<p>
    <a asp-action="AdminCreateRepair" class="btn btn-primary">Create New</a>
</p>
<br />
<br />
<p>
    <a asp-action="Search" class="btn btn-primary">Search Repairs</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 card-custom">
                <div class="card-body">
                    <h5 class="card-title text-primary">Scheduled Date: @item.ScheduledDate.ToString("dd/MM/yyyy HH:mm")</h5>
                    <p class="card-text"><strong>Owner Name:</strong> @Html.DisplayFor(modelItem => item.FullName)</p>
                    <p class="card-text"><strong>Owner VAT:</strong> @Html.DisplayFor(modelItem => item.OwnerVAT)</p>
                    <p class="card-text"><strong>PIN:</strong> @Html.DisplayFor(modelItem => item.PropertyIdNum)</p>
                    <p class="card-text"><strong>Address:</strong> @Html.DisplayFor(modelItem => item.PropertyAddress)</p>
                    <p class="card-text"><strong>Repair Type:</strong> @Html.DisplayFor(modelItem => item.RType)</p>
                    <p class="card-text"><strong>Description:</strong> @Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text"><strong>Cost:</strong> @Html.DisplayFor(modelItem => item.Cost)</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="AdminRepairs" asp-action="GetUpdatePageCallback" asp-route-id="@item.Id" class="btn btn-custom-edit btn-sm mr-1">Update</a>
                    <form asp-controller="AdminRepairs" asp-action="RemoveRepairCallback" method="post" style="display:inline;">
                        <input type="hidden" name="repairId" value="@item.Id" />
                        <button type="submit" class="btn btn-custom-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
