@using TechnicoBackEnd.Auth
@using TechnicoBackEnd.DTOs;
@{
    ViewData["Title"] = "Admin Home Page";
}
@model List<RepairDTO>
@* <h1>WELCOME ADMIN @LoginState.activeUser?.Name </h1> *@
<br>

@foreach(var repair in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@repair.RType.ToString()</h5>
            <p class="card-text">@repair.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@repair.PropertyIdNum</li>
            <li class="list-group-item">@repair.Cost</li>
            <li class="list-group-item">@repair.ScheduledDate</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Update Repair</a>
            <a href="#" class="card-link">Delete Repair</a>
        </div>
    </div>
}


<div class="container">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">[Logout]</a>
</div>


